<div class ='container-fluid'>
<h3>Your Items:</h3>

  <div class = 'row'>
    <div class = 'col-xs-3'>description</div>
    <div class = 'col-xs-1'>size</div>
    <div class = 'col-xs-2'>gender</div>
  </div>
 <% @user.items.each do |item| %>
  <div class = 'row'>
    <div class = 'col-xs-3'><%= item.description %></div>
    <div class = 'col-xs-1'><%= item.size %></div>
    <div class = 'col-xs-2'><%= item.gender %></div>
  </div><br/>
<div>
<% end %>
