
<div class ='container-fluid'>
  <div class ='row'>
    <div class ='col-sm-6'>KidThreds lets you post your kids' outgrown clothes for sale/giveaway to other parents.<br/>
    Already have an account?
    </div>
  </div>

  <div class="form-group">
     <a href = "sessions/new" class="btn btn-default">Login</a>
  </div>

  <a href="users/new" class="btn btn-default">Register</button></a>

</div>
